@media(min-width:1400px){
    .container{
        max-width: 1140px;
    }
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link
{
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.reviews__container{
    padding: 100px 50px;
    background-color:#F0F5F9;
}